{
  "all": {
    "hosts": {
      {# Check if array length is bigger than one, if not don't do the loop #}
      {% if hostnames.msg|length > 1 %}
        {# Inventory must end with no comma after last "null", and the for loop below ends before the last element #}
        {% for host in hostnames.msg[:-1] %}
          "{{ host }}.local": null,
        {% endfor %}
      {% endif %}  
        "{{ hostnames.msg[-1] }}.local": null
    }
  }
}
